<footer class="footer">

  <!-- Top Line -->
  <div class="footer-line"></div>

  <div class="footer-container">

    <!-- Left -->
    <div class="footer-about" data-aos="fade-up">

      <h2>Muhammad <span>Asadullah</span></h2>

      <h3>Full Stack Developer</h3>

      <p>
        I build modern, responsive and user-friendly web applications using
        Angular, TypeScript and modern web technologies.
      </p>

      <div class="social-icons">

        <a href="https://github.com/AsadullahWeb" >
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.tiktok.com/@araindeveloper?_r=1&_t=ZS-97lqHZJhTrJ" >
          <i class="fab fa-tiktok"></i>
        </a>

        <a href="https://www.facebook.com/share/1DSDJv9DuP/" >
          <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://www.instagram.com/asad4.465?igsh=MW4ya20xeTJneHR0bQ==">
          <i class="fab fa-instagram"></i>
        </a>

      </div>

    </div>

    <!-- Quick Links -->

    <div class="footer-links" data-aos="fade-up" data-aos-delay="150">

      <h3>Quick Links</h3>

      <ul>

        <li><a href="#home">Home</a></li>

        <li><a href="#about">About</a></li>

        <li><a href="#skills">Skills</a></li>

        <li><a href="#services">Services</a></li>

        <li><a href="#projects">Projects</a></li>

        <li><a href="#contact">Contact</a></li>

      </ul>

    </div>

    <!-- Contact -->

    <div class="footer-contact" data-aos="fade-up" data-aos-delay="300">

      <h3>Contact</h3>

      <p>

        <i class="fas fa-location-dot"></i>

        Mian Channu, Pakistan

      </p>

      <p>

        <i class="fas fa-envelope"></i>

        asadullaharain129@gmail.com

      </p>

      <p>

        <i class="fas fa-phone"></i>

        +92 318 5080754

      </p>

    </div>

  </div>

  <!-- Bottom -->

  <div class="footer-bottom">

    <p>

      © 2026 Muhammad Asadullah | All Rights Reserved

    </p>

    <p>

      Designed & Developed with ❤️ by

      <span>ARAIN Developer</span>

    </p>

  </div>

  <!-- Back To Top -->

  <button class="top-btn" (click)="scrollTop()">

    <i class="fas fa-arrow-up"></i>

  </button>

</footer>