<section class="about" id="about">

    <div class="section-title" data-aos="fade-up">

        <span>ABOUT ME</span>

        <h2>Who Am I?</h2>

        <p>
            A short introduction about myself, my education, skills and future goals.
        </p>

    </div>

    <div class="about-wrapper">

        <!-- Left Side -->

        <div class="about-text" data-aos="fade-right">

            <h3>
                Passionate Frontend Developer
            </h3>

            <p>

                Hello! I'm <strong>Muhammad Asadullah</strong>, a passionate frontend developer who enjoys creating beautiful, responsive and user-friendly web applications using Angular and modern web technologies.

            </p>

            <p>

                I believe that good design and clean code work together to create amazing user experiences. I always enjoy learning new technologies and improving my development skills.

            </p>

        </div>

        <!-- Right Side -->

        <div class="about-cards" data-aos="fade-left">

            <div class="card">

                <i class="fa-solid fa-graduation-cap"></i>

                <h4>Education</h4>

                <p>

                    BS Software Engineering

                </p>

            </div>

            <div class="card">

                <i class="fa-solid fa-code"></i>

                <h4>Current Focus</h4>

                <p>

                    Angular, TypeScript, ASP.NET & SQL

                </p>

            </div>

            <div class="card">

                <i class="fa-solid fa-bullseye"></i>

                <h4>Career Goal</h4>

                <p>

                    Become a Professional Full Stack Developer

                </p>

            </div>

            <div class="card">

                <i class="fa-solid fa-lightbulb"></i>

                <h4>Interests</h4>

                <p>

                    Coding, UI Design, Problem Solving & Learning

                </p>

            </div>

        </div>

    </div>

    <!-- Counters -->

    <div class="counter-section" data-aos="zoom-in">

        <div class="counter-box">

            <h2>{{projects}}+</h2>

            <span>Projects</span>

        </div>

        <div class="counter-box">

         <h2>{{clients}}+</h2>

            <span>Happy Clients</span>

        </div>

        <div class="counter-box">

           <h2>{{years}}+</h2>

            <span>Years Learning</span>

        </div>

        <div class="counter-box">

           <h2>{{dedication}}%</h2>

            <span>Dedication</span>

        </div>

    </div>

</section>