.projects{

padding:100px 50px;

background:#111827;

color:white;

}

.projects h1{

text-align:center;

font-size:50px;

margin-bottom:60px;

color:cyan;

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}

.card{

background:#1f2937;

border-radius:20px;

overflow:hidden;

transition:.5s;

cursor:pointer;

}

.card:hover{

transform:translateY(-15px);

box-shadow:0 0 30px cyan;

}

.card img{

width:100%;

height:220px;

object-fit:cover;

transition:.5s;

}

.card:hover img{

transform:scale(1.08);

}

.content{

padding:25px;

}

.content h2{

margin-bottom:15px;

}

.content p{

line-height:28px;

margin-bottom:15px;

}

.content span{

color:#38bdf8;

font-size:15px;

}

.buttons{

margin-top:20px;

display:flex;

gap:15px;

}

.buttons button{

padding:12px 22px;

border:none;

border-radius:30px;

background:#06b6d4;

color:white;

cursor:pointer;

transition:.4s;

}

.buttons button:hover{

background:#0891b2;

}