/* ===========================
        GLOBAL MOBILE FIX
=========================== */

*,
*::before,
*::after{
    box-sizing:border-box;
}

html,
body{
    overflow-x:hidden;
    width:100%;
}

img{
    max-width:100%;
    height:auto;
}

section{
    overflow:hidden;
}